<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>bundle_identifier</key>
    <string>com.hanmingjie.iOSWithDjangoDemo</string>
    <key>certificate</key>
    <string>6c8a91d96634c138a791a1fb8a2c26b395ee5b161b4668ae289ace71c1c6f09ac9fdfd6b7dc1b6b04fc2472babc0b31cd4856a8319cfe5b7e6a32d208ddb079a</string>
    <key>company_address</key>
    <string>No.1 KunMing China</string>
    <key>company_email</key>
    <string>hanmingjie@gmail.com</string>
    <key>company_name</key>
    <string>Hans</string>
    <key>expired_date</key>
    <string>20210901</string>
    <key>issued_date</key>
    <string>20210824</string>
    <key>modified_date</key>
    <date>2021-08-24T21:36:50Z</date>
    <key>Refresh Free Certificate</key>
    <string>https://developer.hanmingjie.com/</string>
</dict>
</plist>
