<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>bundle_identifier</key>
    <string>com.hanmingjie.iOSWithDjangoDemo</string>
    <key>certificate</key>
    <string>49f12257da4c7ddb770b94c4e7de018539ab99fd43bef7701b238c11f141b6e00b7111fa19ded1c75dec8443081d5578edc391d23d408225cf8397f10eb68cae</string>
    <key>company_address</key>
    <string>Kunming China</string>
    <key>company_email</key>
    <string>hanmingjie@gmail.com</string>
    <key>company_name</key>
    <string>Hans</string>
    <key>expired_date</key>
    <string>20211009</string>
    <key>issued_date</key>
    <string>20211001</string>
    <key>modified_date</key>
    <date>2021-10-01T20:43:26Z</date>
    <key>Refresh Free Certificate</key>
    <string>https://developer.hanmingjie.com/</string>
</dict>
</plist>
